@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Poppins', sans-serif;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    display: none;
  }

@font-face {
  font-family: 'Algeria';
  src: url('/ALGERIA.ttf');
}

@font-face {
  font-family: 'GOUDOS';
  src: url('/GOUDOS.ttf');
}

@font-face {
  font-family: 'CHELSEA';
  src: url('/CHELSEA.woff');
}